*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calc{
    padding-top:100px ;
}
.div,.div1,.div2,.div3,.div4,.div5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    padding: 10px;
    width: 30%;
    height: 70px;
    background-color:cornflowerblue;
    gap: 10px;
    border: 1px  cornflowerblue;
    border-radius: 25px;
    box-shadow: 15px 14px 20px -2px #808080bf;
}
button{
    border: 1px solid  rgba(43, 106, 168, 0.897); ;
    border-radius: 10%;
    background-color: rgba(43, 106, 168, 0.897);
    width: 10%;
    height: 80%;
    font-size: 18px;
}
.btn{
    border-color: lightblue;
    background-color: lightblue;
    color: blue;
    font-size: 20px;
    width: 10%;
}
.btn1{
    background-color: blue;
    color: white;
    width: 22%;
}
input{
    width: 50%;
    height: 60px;
    border: 1px solid lightslategrey;
    border-radius: 3%;
    font-size: 25px;
    padding: 3px;
}